<h1>Hello, Roofstock!</h1>
<p>Please follow these instructions:</p>
<ul>
  <li>Please see the video with instructions: <a href="https://www.youtube.com/watch?v=Q47_X0rqRXc" target="_blank">Application Instructions</a>.</li>
  <li>Run Unit Tests</li>
  <li>Run Applcation and go to "Manage Properties" menu option.</li>
  <li>You will see a list of Properties.</li>
  <li>Click "Save" button to save each property.</li>
  <li>After pressing "Save" button a green Toast message will show, if successful.</li>
  <li>Don't worry it will dissapear.</li>
  <li>You can verify in the database that a new property has been saved.</li>
  <li>Each saved Property row will be disabled.</li>
</ul>
<p>There are more pending tasks in order to have a full featured CRUD.</p>
