<h1 id="tableLabel">Manage Properties</h1>

<p>This component demonstrates manage properties.</p>

<p *ngIf="!errorMessage && !properties"><em>Loading...</em></p>
<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="properties">
  <thead>
    <tr>
      <th>Address</th>
      <th>Year Built</th>
      <th>List Price $</th>
      <th>Monthly Rent $</th>
      <th>Gross Yield %</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of properties | async" [class.data-selected]="property.isSelected">
      <td>{{ property.address }}</td>
      <td>{{ property.yearBuilt }}</td>
      <td>{{ property.listPrice | currency }}</td>
      <td>{{ property.monthlyRent | currency }}</td>
      <td>{{ property.listPrice==0?(0 | percent : '1.2'):((property.monthlyRent * 12) / property.listPrice)  | percent : '1.2' }}</td>
      <td><button id="{{property.dtoId}}" class="btn btn-primary" (click)="property.isSelected = true;saveProperty($event.target.id);" [disabled]="property.isSelected">Save</button></td>
    </tr>
  </tbody>
</table>
